# {{ ansible_managed }}

###########################################################
# Capture device options
############################################################

videodevice {{ motion_videodevice }}
rotate {{ motion_rotate }}